[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pspatreg"]
	path = pspatreg
	url = https://github.com/rominsal/pspatreg
[submodule "spsur"]
	path = spsur
	url = https://github.com/rominsal/spsur
